.header {
  width: 100%;
  box-sizing: border-box;
}

.navbar-brand img {
  max-height: 50px; /* Ajusta este valor según la altura deseada para la imagen */
}

.navbar {
  padding: 0.5rem 1rem; /* Ajusta el padding según sea necesario */
}