.header {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-brand img {
  max-height: 50px; /* Ajusta este valor según la altura deseada para la imagen */
}

.navbar {
  padding: 0.5rem 1rem; /* Ajusta el padding según sea necesario */
}

.whatsapp-icon {
  position: absolute;
  right: 20px;
  top: 12px;
  z-index: 999;
  transition: transform 0.2s ease;
}

.whatsapp-icon:hover {
  transform: scale(1.1);
}