.registro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
  }
  
  .welcome-text {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
  }
  
  .registro-card {
    width: 80%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }